@page
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>登陆账号</title>
        <link rel="stylesheet" type="text/css" href="file:///c:\users\administrator\source\repos\WebApplication6\WebApplication6\logo-big.ico">
    </head>
    <body>
        <form action="">
            <select name="第一">
                <option value="求助">求助</option>
                <option value="发布">发布</option>
                <option value="列表">列表</option>
            </select>
            <select name="第二">
                <option value="督促">督促</option>
                <option value="求督促">求督促</option>
                <option value="督促别人">督促别人</option>
                <option value="我的目标">我的目标</option>
                <option value="我的督促">我的督促</option>
            </select>
            <select name="第三">
                <option value="文章">文章</option>
                <option value="列表">列表</option>
            </select>
            <select name="第四">
                <option value="app下载">app下载</option>
                <option value="android">android</option>
                <option value="ios">ios</option> <
            </select>
            <select name="第五">
                <option value="你的账户">你的账户</option>
                <option value="登陆账号">登陆账号</option>
                <option value="忘记密码">忘记密码</option> <
            </select>
        </form>
        <hr />
        <a href=" http://17bang.ren/Register/">
            <img src="http://m.qpic.cn/psb?/V14CnXtb194wHl/asAXWC*q7uMGP8.EhW9*vnKZb8TIO3.jYRYTD*LvXmU!/b/dDEBAAAAAAAA&bo=MAAwAAAAAAADByI!&rf=viewer_4" alt=" 滑稽" width="48" height="48" />
            <h1>🚗点我进入官网</h1>
        </a>
        <hr />
        <h1>🧐登陆账号</h1>
        <hr />
        <form>
            <p>🕵️‍♀️用户名♂：（* 必填）</p>
            <input type="text" name="账号">
            <p>🕵️‍♂️密码♀️：（* 必填）</p>
            <input type="password" name="密码">
            <p>👍验证码：（* 必填）</p>
            <input type="text" name="验证码"><input type="checkbox" name="记住用户名" value="记住用户名">记住我的用户名<br>
        </form>
        <input type="submit" name=" name" value=" 点击登陆" />
        <h3>说明</h3>
        <h6>
            1.我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。<p></p>
            2.现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？<p></p>
            3.当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。<p></p>
            4.公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。<p></p>
            5.赶快加入我们，赚取帮帮币吧！
            <a href="http://17bang.ren/About/Us">👉了解更多</a>
        </h6>
        <hr />
        <a href=" http://17bang.ren/About/Us">关于我们㊙l</a>
        <a href="http://17bang.ren/FAQ ">l常见问题🛠l</a>
        <a href="http://17bang.ren/FAQ ">l意见联系👮‍♂️l</a>
        <a href="http://17bang.ren/FAQ ">l历史通知👮‍♀️l</a>
        <a href="http://17bang.ren/FAQ ">l友情捐赠(￣▽￣)l"</a>
        <a href="http://17bang.ren/FAQ ">l融资2019(ง •_•)งl</a>
    </body>
</html>
